.cache-*
__pycache__/
.vscode/launch.json
templates/layout.html
templates/static/main.css
spotify.json
genius.json
token.txt
spotify.json
auth.py
img_downloader.py
lyrics.txt
current_song.txt
.gitignore
.vscode/launch.json
