/.vscode/
/__pycache__/
/python/__pycache__/
/json/spotify.json
/json/genius.json
/json/statistics.json
templates/home.html
templates/layout.html
python/img_downloader.py
python/test.py
python/auth.py
lyrics.txt
