<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">
        (function worker() {
            $.get('/data', function (data) {
                $('#HEAD').html(data.HEAD);
                $('#LYRICS').html(data.LYRICS);
                $('#IMAGE').html(data.IMAGE);
                document.getElementById('albumCover').src = data.IMAGE
                setTimeout(worker, 1000); // run `worker()` again after 1000ms (1s)
            });
        })();
    </script>

    <title>Test</title>
</head>

<body>
    <div class="title">
        <h1><span id="HEAD" ><span></h1>
    </div>
    <span style="float:left;" id='LYRICS'></span>
    <img style="float:right;" id="albumCover" src="">
</body>
<!-- var image_source = data.IMAGE;
var image = document.createElement("img");
var imageParent = document.body
image.id = "IMAGE";
image.className = "testclass";
image.src = image_source; // image.src = "IMAGE URL/PATH"
imageParent.appendChild(image); -->

</html>